* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  /* padding: 0 15px;
  margin: 0 auto; */
}

.top-wrapper{
  background-image: url(./img/1top.jpg);
  background-position:center 40%;
  background-size:cover;
  padding:100px 50px;
  text-align:left;
}
.menu-wrapper{
  /* width: 100%;
  padding: 180px 0 100px 0;
  background-size: cover;
  color: #E3E3E3;
  text-align: center; */
  /* padding-bottom:100%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  background-size: cover; */
  /* width: 100%;
  height:100%; */
  background-color: #f7f7f7;
  padding-bottom:100%;
  background-size:auto;
}



.menu {
  float: left;
  width: 33%;
  height: auto;
}
.menu p{
  font-size:10px;
}

.menu-icon {
  position: relative;
}
.menu-icon img{
  position: relative;
  width: 100%;
}



/* footer  */
footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
