* {
  box-sizing: border-box;
}
header{
  background-color:black;
  opacity: 0.5;
  height: 64px;
  margin-bottom: -64px;
}
.header-left{
  float:left;
}
.header-right{
  float:right;
  padding-top:40px;
  padding-right: 8px;
}
.header-right a{
  font-size: 16px;
  padding:0 8px;
  color:white;
}



/* ヘッダーメニュー */
/* hamburger */
.icon-hamburger {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  height: 48px;
  position: relative;
  width: 48px;
  display: none;
  margin-bottom: 0.4em;
  /* margin-right: 8px;
  float: right; */
}

.icon-hamburger span {
  background:black;
  display: block;
  height: 16%;
  left: 50%;
  margin: -8% 0 0 -42%;
  position: absolute;
  top: 50%;
  width: 84%;
}

.icon-hamburger span::before,
.icon-hamburger span::after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin: -8% 0 0 -50%;
  position: absolute;
  top: 50%;
  width: 100%;
}

.icon-hamburger span::before {
  margin-top: -38%;
}

.icon-hamburger span::after {
  margin-top: 19%;
}


.menu-container {
  margin:0;
  position: relative;
}

.menu-container .menu-right {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-container .menu-right .menu-item {
  flex: 1;
}

.menu-container .menu-right .menu-item a {
  background: #fff;
  border-right: 1px solid #ccc;
  color: #333;
  display: block;
  padding: 0.6em 0.4em;
  text-align: center;
  text-decoration: none;
}

.menu-container .menu-right .menu-item a:hover {
  background: #ccc;
  color: #ffffff;
}

.menu-container .menu-right .menu-item:last-child a {
  border-right: none;
}








body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 16px 8% 16px 8%;
  margin: 0 auto;
}
/* top  */
.top-wrapper{
  background-image: url(./img/1top.jpg);
  background-position:center 65%;
  background-size:cover;
  text-align:left;
}
.name{
  margin-top: 64px;
  padding-top:32px;
}
.name h1{
  font-size:48px;
  color:white;
}
/* .T{
  color:black;

} */
.name p{
  font-size: 16px;
  color: white;
}






/* about */
.heading h1{
  font-size: 32px;
  background-color: black;
  color: white;
  padding-left: 16px;
  margin-right: -9%;
}
.heading p{
  font-size: 16px;
  padding:8px 16px;
}



/* menus */
.menu-wrapper{
  background-color: #f7f7f7;
  background-size:auto;
}

.menu {
  float: left;
  width: 33%;
  height: auto;
  text-align: center;
  padding:8px 16px;
}
.menu a{
  text-decoration: none;
}
.menu a:hover{
  opacity: 0.7;
}
.menus-title{
  font-size: 32px;
  background-color: black;
  color: white;
  padding-left: 16px;
  margin-bottom: 32px;
  margin-right: -9%;
}
.menu h1{
  font-size: 32px;
  background-color: black;
  color: white;
  padding-left: 16px;
  margin-bottom: 32px;
  margin-right: -16%;
}
.menu-icon img{
  width: 100%;
  height:8Vw;
  max-height:50px;
  object-fit:cover;
  margin: 0;
  padding: 0;
}
.menu h1{
  display: none;
}
.menu h2{
  font-size:32px;
  background-color: black;
  color: white;
  margin:-8px 0 0 0;
  padding: 0;
}
.text-contents{
  text-align: left;
}
.text-contents a{
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 4px 8px;
}
.text-contents a:hover{
  opacity: 0.7;
}
.menu p{
  font-size: 16px;
}
.Blog img{
  width:100%;
  height: auto;
}
.Blog :hover{
  opacity: 0.7;
}

/*ボックス全体*/
.accbox {
    margin: 4px 0;
    padding: 0;
    /* max-width: 400px;/*最大幅*/ */
}
/*ラベル*/
.text-contents label {
  background-color: black;
  color: white;
  font-size: 16px;
  padding:4px 8px;
}
/*ラベルホバー時*/
.text-contents label:hover {
    background :black;
    opacity: 0.7;
}
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
    height: auto;
    padding: 8px;
    background: #eaeaea;
    opacity: 1;
}





/* clear */
.clear{clear:both;}

.contact-wrapper{
  background-color:black;
}
.contact-wrapper h2{
  color: white;
}
.contact-wrapper a{
  color: white;
  text-decoration: none;
  margin-right: 8px;
}
/*  footer */
footer img {
  width: 160px;
}

footer p {
  color: #b3aeb5;
  font-size: 16px;
}

footer {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 24px;
}
